body * {
  box-sizing: border-box;
}

.grid-container {
  width: 960px;
  margin: 0 auto;
}

.row {
  width: 960px;
  overflow: auto;
}

[class*="col-"] {
  float: left;
  min-height: 1px;
  padding: 15px;
}

.col-1 {
  width: 160px;
}
.col-2 {
  width: 320px;
}
.col-3 {
  width: 480px;
}
.col-4 {
  width: 640px;
}
.col-5 {
  width: 800px;
}
.col-6 {
  width: 960px;
}

.social {
  float: right;
}

.social img {
  display: block;
  float: left;
  margin: 1px;
  padding: 0;
}

.social img:nth-last-child(2) {
  margin-left: 10px;
}

/*
The background image of the hatched horizontal line is base64 encoded SVG to keep
it all in the css. The running SVG is in assets/hr.svg.
*/

.hr {
  width: 960px;
  height: 14px;
  background-color: transparent;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjgiIGhlaWdodD0iOCI+CjxzdHlsZT4KbGluZSB7CiAgZmlsbDogIzk5OTsKICBzdHJva2U6ICM5OTk7CiAgc3Ryb2tlLWxpbmVjYXA6IHNxdWFyZTsKICBzdHJva2UtbGluZWpvaW46IG1pdGVyOwogIHN0cm9rZS13aWR0aDogMTsKfQo8L3N0eWxlPgo8ZGVmcz4KPHBhdHRlcm4gaWQ9ImRpYWdvbmFsZG93biIgY2xhc3M9ImhhdGNoIiBwYXR0ZXJuVW5pdHM9InVzZXJTcGFjZU9uVXNlIiB3aWR0aD0iOCIgaGVpZ2h0PSI4IiA+CiAgPGxpbmUgeDE9Ii04IiB5MT0iMCIgeDI9IjAiIHkyPSI4IiAvPgogIDxsaW5lIHgxPSItNCIgeTE9IjAiIHgyPSI0IiB5Mj0iOCIgLz4KICA8bGluZSB4MT0iMCIgeTE9IjAiIHgyPSI4IiB5Mj0iOCIgLz4KICA8bGluZSB4MT0iNCIgeTE9IjAiIHgyPSIxMiIgeTI9IjgiIC8+CiAgPGxpbmUgeDE9IjgiIHkxPSIwIiB4Mj0iMTYiIHkyPSI4IiAvPgo8L3BhdHRlcm4+CjwvZGVmcz4KPHJlY3QgaWQ9InJ1bGUiIHg9IjAiIHk9IjAiIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHN0eWxlPSJmaWxsOiB1cmwoI2RpYWdvbmFsZG93bikiIC8+Cjwvc3ZnPgo=");
  background-repeat: repeat;
  border: none;
}

