@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Oswald:300|Oswald:500|Patrick+Hand|Yellowtail');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: #232323;
}

.grid-container {
  width: 960px;
  margin: 0 auto;
}

.row {
  width: 960px;
  overflow: auto;
  padding: 15px 0;
}

[class*="col-"] {
  float: left;
  min-height: 1px;
}

.col-1 {
  width: 16.66%;
}
.col-2 {
  width: 33.33%;
}
.col-3 {
  width: 50%;
}
.col-4 {
  width: 66.66%;
}
.col-5 {
  width: 83.33%;
}
.col-6 {
  width: 100%;
}

header .row {
  padding-top: 20px;
  padding-bottom: 32px;
}

header > div > div:first-child * {
  display: block;
  margin: 0;
  padding: 0;
}
header > div > div:first-child img {
  float: left;
  margin-top: 20px;
  height: 49px;

}
header > div > div:first-child h1 {
  font-family: 'yellowtail', cursive;
  margin: 13px 0 0 50px;
  font-size: 43px;
  line-height: 1;
  font-weight: normal;
}

header > div > div:first-child .subtitle {
  font-family: 'oswald', sans-serif;
  font-size: 12px;
  margin: 0 0 0 55px;
  font-weight: 300;
  letter-spacing: 0.8px;
}

.social {
  float: right;
  margin-top: 31px;
}

.social img {
  display: block;
  float: left;
  margin-left: 2px;
  padding: 0;
  width: 26px;
}

.social img:nth-last-child(2) {
  margin-left: 10px;
}

main > div:first-of-type {
  padding-bottom: 0;
  overflow: hidden;
}
main > div:nth-of-type(2) {
  padding-top: 0;
}

.hero {
  width: 100%;
}

.right .light {
  float: right;
}

.recipe-title {
  font-family: 'oswald', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 46px;
  font-weight: 500;
  letter-spacing: -1.0px;
  margin-block-start: 40px;
  margin-block-end: 0;
}

.light {
  font-family: 'oswald', Impact, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #888;
  letter-spacing: 1px;
  margin-block-start: 5px;
  margin-block-end: 0;
}

.recipe-text > * {
  color: #232323;
  font-family: 'noto serif', Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 1.5;
  text-indent: 30px;
  letter-spacing: -.15px;
  margin-block-end: 1.9em;
}
.recipe-text > *:first-child {
  margin-block-start: 0;
}
.recipe-text > *:last-child {
  margin-block-end: 0;
}

.ingredient-list {
  background-image: url(./assets/list-bg.png);
}

/*
The background image of the hatched horizontal line is base64 encoded SVG to keep
it all in the css. The running SVG is in assets/hr.svg.
*/

.hatched-hr {
  width: 960px;
  height: 14px;
  background-color: transparent;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjgiIGhlaWdodD0iOCI+CjxzdHlsZT4KbGluZSB7CiAgZmlsbDogIzk5OTsKICBzdHJva2U6ICM5OTk7CiAgc3Ryb2tlLWxpbmVjYXA6IHNxdWFyZTsKICBzdHJva2UtbGluZWpvaW46IG1pdGVyOwogIHN0cm9rZS13aWR0aDogMTsKfQo8L3N0eWxlPgo8ZGVmcz4KPHBhdHRlcm4gaWQ9ImRpYWdvbmFsZG93biIgY2xhc3M9ImhhdGNoIiBwYXR0ZXJuVW5pdHM9InVzZXJTcGFjZU9uVXNlIiB3aWR0aD0iOCIgaGVpZ2h0PSI4IiA+CiAgPGxpbmUgeDE9Ii04IiB5MT0iMCIgeDI9IjAiIHkyPSI4IiAvPgogIDxsaW5lIHgxPSItNCIgeTE9IjAiIHgyPSI0IiB5Mj0iOCIgLz4KICA8bGluZSB4MT0iMCIgeTE9IjAiIHgyPSI4IiB5Mj0iOCIgLz4KICA8bGluZSB4MT0iNCIgeTE9IjAiIHgyPSIxMiIgeTI9IjgiIC8+CiAgPGxpbmUgeDE9IjgiIHkxPSIwIiB4Mj0iMTYiIHkyPSI4IiAvPgo8L3BhdHRlcm4+CjwvZGVmcz4KPHJlY3QgaWQ9InJ1bGUiIHg9IjAiIHk9IjAiIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHN0eWxlPSJmaWxsOiB1cmwoI2RpYWdvbmFsZG93bikiIC8+Cjwvc3ZnPgo=');
  background-repeat: repeat;
  border: none;
  margin: 0 auto;
}

